body {
  min-width: 1045px;
}
header {
  width: 100%;
  height: 58px;
  background: #7167C9;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
header .left {
  height: 24px;
  width: 120px;
  float: left;
  margin-left: 0.5rem;
  margin-top: 16px;
}
header .left span {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
}
header .mobile-language {
  display: none;
}
header .right {
  float: right;
  font-size: 15px;
  margin-right: 0.5rem;
}
header .right .nav {
  display: inline-block;
}
header .right .nav li {
  display: inline-block;
  margin-right: 0.6rem;
  margin-top: 21px;
  position: relative;
}
header .right .nav li a {
  color: #fff;
}
header .right .nav li.active:after {
  content: '';
  width: 100%;
  height: 6px;
  background: #fff;
  border-radius: 20px;
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
}
header .right .language-toggle {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 100px;
  height: 22px;
  line-height: 20px;
  padding: 0 10px;
  position: relative;
}
header .right .language-toggle .language-left {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding-right: 10px;
  border-right: 1px solid #fff;
}
header .right .language-toggle .language-left img {
  width: 14px;
  height: 14px;
  margin-top: 5px;
}
header .right .language-toggle .triangle-wrap {
  display: inline-block;
}
header .right .language-toggle .triangle-wrap .triangle {
  width: 0;
  height: 0;
  margin-top: 2px;
  border: 4px solid transparent;
  border-top: 4px solid #fff;
}
header .right .language-toggle .select-country {
  display: none;
  position: absolute;
  top: 27px;
  left: 0;
  width: 73px;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 12px;
  color: #333;
  background: #fff;
}
header .right .language-toggle .select-country ul li {
  display: block;
  text-align: center;
  line-height: 25px;
  border-bottom: 1px solid #333;
}
header .right .language-toggle .select-country ul li:last-child {
  border-bottom: none;
}
header .right .language-toggle .select-country ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}
.content-one {
  min-width: 1045px;
}
.content-one .contentone-wrap {
  box-sizing: border-box;
  background: url("../img/bg1.png") no-repeat;
  background-size: contain;
  height: 10.26rem;
  text-align: center;
  color: #FFFFFF;
}
.content-one .contentone-wrap h1 {
  padding-top: 130px;
  margin-bottom: 10px;
  font-size: 70px;
}
.content-one .contentone-wrap strong {
  font-size: 22px;
}
.content-one .contentone-list {
  display: flex;
  text-align: center;
  padding: 0 100px 95px 100px;
  margin-top: -135px;
}
.content-one .contentone-list .clist-wrapper {
  flex: 1;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}
.content-one .contentone-list .clist-wrapper .clist-img {
  height: 50px;
  margin-bottom: 20px;
}
.content-one .contentone-list .clist-wrapper .clist-img img {
  height: 100%;
}
.content-one .link-list {
  background: #FFFFFF;
  box-shadow: 0 4px 20px 0 rgba(102, 89, 203, 0.5);
  border-radius: 35px;
  width: 50px;
  position: fixed;
  top: 220px;
  right: 78px;
}
.content-one .link-list ul li a img {
  width: 30px;
  height: 30px;
  padding: 10px;
}
.content-one .link-list-mobile {
  display: none;
}
.content-other {
  width: 100%;
  min-width: 1045px;
  background: #F3F2FC;
  padding: 1rem 0 .6rem 0;
  box-sizing: border-box;
}
.content-other .content-two {
  display: block;
  width: 1045px;
  margin: 0 auto;
}
.content-other .content-two-mobile {
  display: none;
}
.content-other .other-list-box {
  display: inline-block;
  width: 500px;
  height: 500px;
  background: #FFFFFF;
  box-shadow: 0 6px 12px 0 rgba(203, 199, 240, 0.5);
  border-radius: 12px;
  padding: 50px;
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-right: 40px;
  vertical-align: top;
}
.content-other .other-list-box:nth-of-type(2n) {
  margin-right: 0;
}
.content-other .other-list-box .other-list-img {
  text-align: center;
  height: 120px;
  margin-top: 8px;
}
.content-other .other-list-box .other-list-img img {
  height: 100%;
}
.content-other .other-list-box .box-title {
  margin: 50px 0;
  font-size: 22px;
  color: #A39AE8;
  text-align: center;
  line-height: 22px;
}
.content-other .other-list-box p {
  font-size: 18px;
  color: #333333;
  text-align: justify;
  line-height: 40px;
}
.content-other .other-list-box .p-en {
  line-height: 24px;
}
footer {
  height: 318px;
}
footer .footer-wrap .footer-top {
  height: 260px;
  background: url('../img/footerbg.png') no-repeat;
  background-size: cover;
  text-align: center;
}
footer .footer-wrap .footer-top img {
  display: block;
  width: 176px;
  height: 35px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
}
footer .footer-wrap .footer-top span {
  font-size: 20px;
  color: #FFFFFF;
  position: relative;
}
footer .footer-wrap .footer-top span::before {
  content: '';
  width: 68px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 14px;
  left: -75px;
}
footer .footer-wrap .footer-top span::after {
  content: '';
  width: 68px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 14px;
  right: -75px;
}
footer .footer-wrap .footer-bottom {
  background: #333333;
  height: 58px;
  clear: both;
}
footer .footer-wrap .footer-bottom ul li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 22px;
}
footer .footer-wrap .footer-bottom ul li a {
  font-size: 15px;
  color: #FFFFFF;
}
footer .footer-wrap .footer-bottom ul li:first-child {
  margin-left: 50px;
}
footer .footer-wrap .footer-bottom .footer-right {
  float: right;
  font-size: 14px;
  color: #AFAFAF;
  margin-top: -22px;
  margin-right: 50px;
}
